@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    font-family:Outfit ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: hsl(207, 79%, 77%);
    text-align: center;
}

nav ul li {
    display: inline;
    padding: 0 100px;
}

nav ul li a {
    display: inline-block;
    color: #fffbfb;
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: hsl(202, 83%, 67%);
}
.ff{
    text-align: center;
    color: rgb(240, 139, 156);
}

progress-container {
    width: 100%;
    margin-top: 20px;
}

.progress {
    height: 30px;
}

.progress-bar {
    text-align: center;
    line-height: 30px;
}