@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
 font-family: Outfit;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: hsl(207, 79%, 77%);
    text-align: center;
}

nav ul li {
    display: inline;
    padding: 0 100px;
}

nav ul li a {
    display: inline-block;
    color: #fffbfb;
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: hsl(202, 83%, 67%);
}
.ff{
    text-align: center;
    color: rgb(240, 164, 176);
}

.progress {
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
}
.chata{
     margin-top: 10px;       
    
}
.img {
        width:  25%; 
        Height : auto;    
    }
    
    